:root {
  --border-radius: 1rem;
  --text-base: 1rem;
  --text-lg: 1.5rem;
  --tracking: -4%;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 4rem 1.5rem;
  height: 100vh;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  font-family: system-ui;
  letter-spacing: var(--tracking);
}

#works {
  margin-right: -1.5rem;
  width: auto;
  flex: 1;
  border-radius: var(--border-radius) 0 0 var(--border-radius);
  border: solid black 4px;
  border-right: none;
  box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.5);
}

#info {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

#logo {
  width: 253px;
  height: 136px;
  margin-top: 1rem;
  margin-bottom: -0.5rem;
}

#title {
  margin: 0;
  font-size: var(--text-lg);
}

#contact {
  display: flex;
  gap: 1rem;
  align-items: center;
}

#instagram {
  width: 32px;
  height: 32px;
}

#gmail {
  text-decoration: none;
  color: inherit;
}

@media (min-width: 768px) {
  body {
    padding: 4rem 4rem;

    flex-direction: row;
    justify-content: end;
    align-items: end;
    gap: 4rem;
  }

  #works {
    margin-right: 0;
    border-right: solid black 4px;
    border-radius: var(--border-radius);
    height: calc(100vh - 8rem);
  }
}
